<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscaminas</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>BUSCAMINAS</h1>
            <div class="formulario-juego">
                <form action="/table" method="POST">
                    <div class="entrada">
                        <label for="size">Size (min 6, max 20): </label>
                        <input id="size" name="size" type="number" min="6" max="20" value="10">
                    </div>
                    <div class="entrada">
                        <label for="bombs">Bombs number (min 1, max: Size x Size): </label>
                        <input id="bombs" name="bombs" type="number" min="1" value="20">
                    </div>
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>