<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscaminas</title>
    <script src="table.js"></script>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>BUSCAMINAS</h1>
            <div class="formulario-juego">
                <h2>Banderas colocadas: <span id="num-banderas"></span> (faltan <span id="banderas-restantes"></span>)</h2>
                <div class="juego"></div>
                <div class="resultado-juego"></div>
            </div>
        </div>
    </div>
</body>
</html>